*
!_refactor/
!_refactor/**

#----------bspwm----------
!bspwm/
!bspwm/**
bspwm/monitors.json
bspwm/_bspwm.log

#----------polybar----------
!polybar/
!polybar/**

#----------kitty----------
!kitty/
!kitty/**

#----------picom----------
!picom/
!picom/**

#----------ranger----------
!ranger/
!ranger/**

#----------rofi----------
!rofi/
!rofi/**

#----------sxhkd----------
!sxhkd/
!sxhkd/**
sxhkd/sxhkdrc

#----------Exclude Allways----------
__pycache__/
venv/
env/
.env