*
!_refactor/
!_refactor/**

#----------extra----------
!env_vars
!install.sh
!tmp/
!tmp/README.md

#----------vscode----------
!vscode
!vscode/**

#----------commands----------
!commands
!commands/**

#----------signals----------
!signals
!signals/**

#----------bspwm----------
!bspwm/
!bspwm/**
bspwm/monitors.json

#----------polybar----------
!polybar/
!polybar/**

#----------kitty----------
!kitty/
!kitty/**

#----------picom----------
!picom/
!picom/**

#----------ranger----------
!ranger/
!ranger/**

#----------rofi----------
!rofi/
!rofi/**

#----------sxhkd----------
!sxhkd/
!sxhkd/**
sxhkd/sxhkdrc

#----------Exclude Allways----------
__pycache__/
venv/
env/
.env
